<div class="customBody">
<header>
        <div class="container" id="header-upper">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class="fa fa-user " style="font-size: 19px;"></i>
                        <span>My Account</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-cart-plus" style="font-size: 19px;"></i>
                        <span>Cart</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa fa-check-circle" style="font-size: 19px;"></i>
                        <span>Checkout</span>
                    </a>
                        
                </li>
                    <li>
                        <span id="header-span-upper"></span>
                    </li>

                <li>
                    <a href="#" class="dropdown-toggle btn" id="header-search" data-toggle="dropdown" aria-expanded="false">
                        <i class="glyphicon glyphicon-search" style="color: white; font-size: 27px;"></i>
                    </a>
                        
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">
                                <input type="text" placeholder="Search" >
                            </a>
                        </li>
                    </ul>
                </li>
                
                

            </ul>
        </div>

        
        <span id="header-span"></span>

        
        <div class="" id="header-bottom">
            <div class="logo" id="logo">
                <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/Logo.png'); ?>" />
            </div>

            <div>
                <ul class="nav navbar-nav header-quickmenu">
                    <li id="contact-upper">
                        <i class="fa fa-mobile" id="mobline-upper"></i>
                        <span class="phone">+123 4567 890</span>
                        <h6>MON - FRI: 8:30AM - 7:30PM; SAT - SUN: 9:30AM - 4:30PM</h6>
                    </li>
    
                    <li>
                        <span id="header-span-lower"></span>
                    </li>

                    <li id="header-lower-right" class="wishlist">
                        <a href="#" style="text-align: center; ">
                            <i class="fa fa-star"></i> <br>
                            <b style="color: white; ">WISHLIST</b> 
                        </a>
                    </li>
                            
                    <li>
                        <span id="header-span-lower"></span>
                    
                    </li>

                    <li id="header-lower-right" class="compare">
                        <a href="#" style="text-align: center;">
                            <i class="fa fa-car"></i><br>
                            <b style="color: white;">COMPARE</b> 
                        </a>
                    </li>

                    <li>
                        <span id="header-span-lower"></span>
                    </li>
                            
                    <li id="header-lower-right" class="mycart">
                        <a href="#" style="text-align: center;">
                            <i class="fa fa-shopping-cart"></i> <br>
                            <b style="color: white;">MY CART</b> 
                        </a>
                    </li>   
                        
        
                </ul>
            </div>
        
        </div>


                
                
        <div class="container" id="nav">
            <div class="dropdown" id="nav-dropdown">
                <button class="btn dropdown-toggle" id="hamburger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h3><a class="dropdown-item" href="#">Home</a></h3>
                    <h3><a class="dropdown-item" href="#">Services</a></h3>
                    <h3><a class="dropdown-item" href="#">About</a></h3>
                    <h3><a class="dropdown-item" href="#">Reviews</a></h3>
                    <h3><a class="dropdown-item" href="#">Locations</a></h3>
                    <h3><a class="dropdown-item" href="#">Contacts</a></h3>
                </div>
        </div>
                            
            
            <div>    
                <ul class="nav navbar-nav" id="nav-main">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="#">reviews</a>
                    </li>
                    <li>
                        <a href="#">locations</a>
                    </li>
                    <li>
                        <a href="contacts.html">contacts</a>
                    </li>         
                
                </ul>
            </div>  
        </div>
    </header>






       <div class="container" id="banner">
            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/banner.png'); ?>" />
       </div>




       <div class="container" id="section">
            <div class="row" id="section-upper">
                <div class="col-sm-6" id="section-upper-l">
                    <a href="">
                        <div class="container" id="section-upper-left">
                            <h3>Headlights</h3>
                            <h5>Headlights Project, LED, Factory</h5>
                        </div>
                        
                        <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/Layer_1.png'); ?>" id="image1">
                    </a>   
                </div>
            
                <div class="col-sm-6" id="section-upper-r">
                    <a href="">
                        <div class="container" id="section-upper-right">
                
                            <h3>Brakes</h3>
                            <h5>Headlights Project, LED, Factory</h5>
                        </div>

                        <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/Layer_2.png'); ?>" id="image2">
                    </a> 
                </div>
            </div>


            <div class="row" id="section-bottom">
                <div class="row" id="section-bottom">
                    <div class="col-sm-6" id="section-bottom-l">
                        <a href="">
                            <div class="container" id="section-bottom-left">
                                <h3>Wheels</h3>
                                <h5>Headlights Project, LED, Factory</h5>
                            </div>

                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/Layer_3.png'); ?>" id="image3">
                        </a>    
                    </div>


                    <div class="col-sm-6" id="section-bottom-r">
                        <a href="">  
                            <div class="container" id="section-bottom-right">
                                <h3>Seats</h3>
                                <h5>Headlights Project, LED, Factory</h5>
                            </div>

                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/Layer_4.png'); ?>" id="image4">
                        </a>  
                    </div>
                </div>
            </div>
        </div>




        <div class="container" id="products">
            <h1>Featured Products</h1>
            <span id="product-span"></span>

            <div class="container" id="products-section1"  style="text-decoration: none;">
                <div class="container" id="products-section2"  style="text-decoration: none;">
                    <a href="#"  style="text-decoration: none;">
                        <div style="height: 50%;">
                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/product11.png'); ?>">
                        </div>

                        <h5  style="text-decoration: none;">Headlights</h5>
                        <h3  style="text-decoration: none;">$300.00</h3>

                        <div id="raiting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </a>
                </div>

                <div class="container" id="products-section2">
                    <a href="#"  style="text-decoration: none;">
                        <div style="height: 50%;">
                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/product21.png'); ?>">
                        </div>

                        <h5>Headlights</h5>
                        <h3>$300.00</h3>

                        <div id="raiting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </a>
                </div>


                <div class="container" id="products-section2">
                    <a href="#"  style="text-decoration: none;">
                        <div style="height: 50%;">
                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/product31.png'); ?>">
                        </div>

                        <h5>Headlights</h5>
                        <h3>$300.00</h3>

                        <div id="raiting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </a>
                </div>

                <div class="container" id="products-section2">
                    <a href="#"  style="text-decoration: none;">
                        <div style="height: 50%;">
                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/product41.png'); ?>">
                        </div>

                        <h5>Headlights</h5>
                        <h3>$300.00</h3>

                        <div id="raiting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                    </a>
                </div>


                <div class="container" id="products-section5">
                    <a href="#"  style="text-decoration: none;">
                        <div style="height: 50%;">
                            <img src="<?php echo $this->getViewFileUrl('Carstore_Magento2::images/product51.png'); ?>">
                        </div>

                        <h5>Headlights</h5>
                        <h3>$300.00</h3>

                        <div id="raiting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half"></i>
                        </div>
                     </a>
                </div>
            </div>
        </div>




        <div class="container" id="offer">
            <div class="container" id="offer-left">
                <h1>25% OFF</h1>
                <h3>On order over $999</h3>
                <h5>This offer is valid on all our items</h5>
                <button type="button" class="btn btn-danger" id="button">BUY NOW</button>
            </div>

            <span id="offer-line"></span>
    
            <div class="container" id="offer-right">
                <h1>25% OFF</h1>
                <h3>On order over $999</h3>
                <h5>This offer is valid on all our items</h5>
                <button type="button" class="btn btn-danger" id="button">BUY NOW</button>
            </div>
    
        </div>




        <footer class="container" id="footer">
            <div class="row" id="footer-upper">
                <div class="col-sm-3" id="footer-upper-section" style="width: 300px;">
                    <h1>Quick Links</h1>

                    <span id="quick-span"></span>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#">About Us</a>
                        </li>

                        <li>
                            <a href="#">Customer Service</a>
                        </li>

                        <li>
                            <a href="#">Privacy Plicy</a>
                        </li>

                        <li>
                            <a href="#">Site Map</a>
                        </li>

                        <li>
                            <a href="#">Search Terms</a>
                        </li>

                        <li>
                            <a href="#">Advanced Search</a>
                        </li>
                        
                        <li>
                            <a href="#">Order and Returns</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
        
                <div class="col-sm-3" id="footer-upper-section" style="width: 300px;">
                    <h1>Quick Links</h1>

                    <span id="quick-span"></span>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#">About Us</a>
                        </li>

                        <li>
                            <a href="#">Customer Service</a>
                        </li>

                        <li>
                             <a href="#">Privacy Plicy</a>
                        </li>

                        <li>
                            <a href="#">Site Map</a>
                        </li>

                        <li>
                            <a href="#">Search Terms</a>
                        </li>

                        <li>
                            <a href="#">Advanced Search</a>
                        </li>
                        
                        <li>
                            <a href="#">Order and Returns</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>

        
                <div class="col-sm-3" id="footer-upper-section" style="width: 300px;">
                    <h1>Quick Links</h1>

                        <span id="quick-span"></span>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#">About Us</a>
                            </li>

                            <li>
                                <a href="#">Customer Service</a>
                            </li>

                            <li>
                                <a href="#">Privacy Plicy</a>
                            </li>

                            <li>
                                <a href="#">Site Map</a>
                            </li>

                            <li>
                                <a href="#">Search Terms</a>
                            </li>

                            <li>
                                <a href="#">Advanced Search</a>
                            </li>

                            <li>
                                <a href="#">Order and Returns</a>
                            </li>

                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
        
                    <div class="col-sm-3" id="footer-upper-section3">
                        <h1>Newsletter</h1>

                        <span id="quick-span"></span>

                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat consectetur massa sed faucibus.</h5>

                        <input type="text" id="footer-input" placeholder=""> 
                            <br />
                            <br/>
                        <button type="button" class="btn btn-danger" id="button">SUBMIT</button> 

                        <div class="container" id="social">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="https://www.facebook.com" style="background-color: transparent !important;" target="_blank"><i class="fa fa-facebook-f"></i></a>
                                </li>

                                <li>
                                    <a href="https://www.twitter.com" style="background-color: transparent !important;" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>

                                <li>
                                    <a href="https://www.google.com" style="background-color: transparent !important;" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com" style="background-color: transparent !important;" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                                        
                                <li>
                                    <a href="https://www.pinterest.com" style="background-color: transparent !important;" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                </li>
                            </ul>
        
                            </div>  
        
                    </div>
                </div>
        </footer>




        <div class="container" id="footer-middle">
            <div class="row" id="footer-middle-cont">
                <span id="footer-span-upper"></span>

                <div class="col-sm-4" id="footer-middle-section">
                    <h1>Information</h1>
                    <span id="quick-span-lower"></span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat consectetur massa sed faucibus.
                        Integer ante est, rutrum at eleifend quis, laoreet id nibh. Vestibulum condimentum pharetra justo, interdum pretium leo rutrum ut.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
        
                <div class="col-sm-4" id="footer-middle-section">
                    <h1>Information</h1>

                    <span id="quick-span-lower"></span>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat consectetur massa sed faucibus.
                        Integer ante est, rutrum at eleifend quis, laoreet id nibh. Vestibulum condimentum pharetra justo, interdum pretium leo rutrum ut.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                    
                <div class="col-sm-4" id="footer-middle-contacts">
                    <h1>Contact</h1>

                    <span id="quick-span-lower"></span>
                        
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-map-marker" ><span style="color: #887979;">123, Main Road, Your City, NY</span></i>
                        </li>

                        <li>
                            <i class="fa fa-phone" ><span style="color: #887979;">123 456 7890</span></i>
                        </li>

                        <li>
                            <i class="glyphicon glyphicon-dashboard" ><span style="color: #887979; ">7 days a week form 10am to 6pm</span></i>
                        </li>

                        <li>
                            <i class="fa fa-envelope" ><span style="color: #887979;">info@email.com</span></i>
                        </li>    
                    </ul>
                </div>    
        
            </div>
        </div>


            

        <div class="container" id="footer-lower">
            <span id="footer-span-lower"></span>
        
            <div class="row" id="footer-lower-cont">
                <div class="col-sm-6" id="copyright">
                    <span>CarStore © 2017 . All Rights Reserved. </span>
                </div>
    
            <div class="col-sm-6">
                <ul class="list-inline" id="cards">
                    <li>
                        <a>
                            <i class="fa fa-cc-amex"></i>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-cc-paypal"></i> 
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-cc-visa"></i>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-cc-mastercard"></i>
                        </a>
                    </li>
                            
                    <li>
                        <a>
                            <i class="fa fa-cc-stripe"></i>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-cc-diners-club"></i>
                        </a>
                    </li>
    
                </ul>
            </div>
    
            </div>
    
        </div>
</div>